* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;

}

header {
  background-image: url('./images/bg-header-desktop.svg');
  max-width: 100%;
  min-height: 130px;
  background-color: hsl(180, 29%, 50%);
}

body {
  background-color: hsl(180, 52%, 96%)
}

.main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}